#juniorContainer{
    display: flex;
    flex-direction:column;
    width: 250px;
    height: 250px;
    border: 0.001px solid black ;
    

}
#junior1Con{
    width: 270px;
    height: 270px;
    box-shadow: -3px -3px 4px rgb(172, 182, 168);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: 50px;
    padding-left: 25px;
    border-radius: 10px;


}
h1{
    text-align: center;
    text-shadow: 2px 2px 4px rgb(97, 99, 96);
}
.row{
    height: 50%;
    display: flex;
    border-bottom: 0px solid black;
}
.rowItem{
    width: 50%;
    border-bottom: 0.1px solid black;
    border-right: 0.1px solid black;
    margin: 0;
}
.seniorContainer{
    display: flex;
    justify-content: space-around;
}
.buttonsCon{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    height: 270px;
    width: 120px;
    padding-left: 20px;
    box-shadow: -3px -3px 4px rgb(172, 182, 168);
    border-radius: 10px;

}
.buttons{
    font-size: 10px;
    background-color: green;
    border-style: none;
    height: 22px;
    width: 100px;
    border-radius: 5px;
    color: white;
    box-shadow: -1px 2px 2px rgb(112, 133, 102);
}
.buttons:hover{
    background-color: rgb(152, 233, 132);
}
